$color-black: #000000;

@mixin small {
  @media only screen and (min-width: 400px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 992px) {
    @content;
  }
}
@mixin desktopl {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin small_laptop_custom {
  @media only screen and (min-width: 768px) and (max-height: 700px) {
    @content;
  }
}
